/* input:invalid {
    border: 2px dashed red;
}

input:invalid:required {
    background-image: linear-gradient(to right, pink, lightgreen);
}

input:valid {
    border: 2px solid black;
} */




/* form {
    font: 1em sans-serif;
    max-width: 320px;
}

p>label {
    display: block;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea,
fieldset {
    width: 100%;
    border: 1px solid black;
    box-sizing: border-box;
}

input:invalid {
    box-shadow: 0 0 5px 1px red;
}

input:focus:invalid {
    box-shadow: none;
} */

/* body {
    font: 1em sans-serif;
    ;
    width: 200px;
    padding: 0;
    margin: 0 auto;
}

p * {
    display: block;
}

input[type=email] {
    appearance: none;
    width: 100%;
    border: 1px solid black;
    font-family: inherit;
    font-size: 90%;
    box-sizing: border-box;
}

input:invalid {
    border-color: #900;
    background-color: #fdd;
}

input:focus:invalid {
    outline: none;
}

.error {
    width: 100%;
    padding: 0;
    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
}

.error.active {
    padding: 0.3em;
} */


body {
    font: 1em sans-serif;
    width: 200px;
    padding: 0;
    margin: 0 auto;
}

form {
    max-width: 200px;
}

p * {
    display: block;
}

input.mail {
    appearance: none;
    width: 100%;
    border: 1px solid black;
    margin: 0;

    font-family: inherit;
    font-size: 90%;

    box-sizing: border-box;
}

/* this is style for invalid fields */
input.invalid {
    border-color: #900;
    background-color: #fdd;
}

input:focus.invalid {
    outline: none;
}

/* this is style for error messages */

.error {
    width: 100%;
    padding: 0;

    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
}

.error.active {
    padding: 0.3em;
}